<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
		<add name="Rad.Properties.Settings.ApplicationDataBase" connectionString="Data Source=hescmars01;Initial Catalog=MARSPortal;User ID=raddbuser;Password=hertz123*;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="Rad.Properties.Settings.MembershipDataBase" connectionString="Data Source=hescap19;Initial Catalog=RAD_Membership;User ID=raddbuser;Password=oeogr?6fmi;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="Rad.Properties.Settings.FleetDemandDataBase" connectionString="Data Source=HESCSQL-ANALYS\analysis;Initial Catalog=FleetDemand;User ID=raddbuser;Password=adm145ser*;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="MarsPortalConnectionString" connectionString="Data Source=hescmars01;Initial Catalog=MarsPortal;User ID=raddbuser;Password=hertz123*;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpHandlers xdt:Transform ="Remove">
    </httpHandlers >

    <authorization xdt:Transform ="Replace">
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  
  <applicationSettings>
    <Mars.Properties.Settings>
      <setting name="ParameterFilesUploadFolder" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <value>\\hescap19\FileUploads\LogisticsDashboard</value>
      </setting>
    </Mars.Properties.Settings>
  </applicationSettings>

</configuration>