<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Rad.Properties.Settings.ApplicationDataBase" connectionString="Data Source=hescmarsq01;Initial Catalog=MarsPortal;User ID=raddbuser;Password=hertz123*;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
    <add name="MarsPortalConnectionString" connectionString="Data Source=hescmarsq01;Initial Catalog=MarsPortal;User ID=raddbuser;Password=hertz123*;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>