<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mars.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Rad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <!-- ===== -->
  <!--App Settings For Chart Control -->
  <appSettings>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/Temp/;" />
    <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;" />
    <add key="FleetPlanUploadLocation" value="\\hescft02\MarsFISdata\Archive\Fleet Plan" />
    <add key="SSISpackagePath" value="\\hescmars01\SSIS packages repository\MARS_SSIS_Fleet_Plan.dtsx" />
    <add key="SSISpackageVariable" value="fileName" />
    <add key="CacheTimeout" value="30 "/>
    <add key="BypassCache" value="false "/>
    <add key="FullUserAccess" value="False "/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />

  </appSettings>
  <!--Connection Strings -->
  <connectionStrings>
    <add name="Rad.Properties.Settings.ApplicationDataBase" connectionString="Data Source=hescmarsq01;Initial Catalog=MARSPortal;User ID=raddbuser;Password=hertz123*;MultipleActiveResultSets=True;Asynchronous Processing=true"
      providerName="System.Data.SqlClient" />
    <add name="Rad.Properties.Settings.FleetDemandDataBase" connectionString="Data Source=HESCSQL-ANALYS\analysis;Initial Catalog=FleetDemand;User ID=raddbuser;Password=adm145ser*;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="Rad.Properties.Settings.MembershipDataBase" connectionString="Data Source=hescap19;Initial Catalog=RAD_Membership;User ID=raddbuser;Password=oeogr?6fmi;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  <!--Anonymous Access Paths -->
  <location path="App.Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App.Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App.Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Help">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!--Default Culture Settings -->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB"/>
    <!--Settings for File Upload -->
    <httpRuntime maxRequestLength="51200" requestLengthDiskThreshold="1024" executionTimeout="90"/>
    <!--Authentication -->
    <authentication mode="Forms">
      <forms name="MarsAuthenticationCookie" timeout="65" slidingExpiration="false" loginUrl="~/login/" defaultUrl="~/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*" />
    </authorization>
    <!--Session Settings -->
    <sessionState cookieName="SessionCookieMarsPortal" timeout="60"/>
    <!--Machine Key (Change on Release) -->
    <machineKey decryption="AES" decryptionKey="0907664C8253F2EBAFE480295671301BC24A9B818958ADE4" validation="SHA1" validationKey="E7E8355B293CA730C888015B25496F07A7E60E90E499E3C8D0B236E51245EA3BE061FB1DC0650D78A9BDF6216D237DBDB3734596662F0098699E36C347CFDB37"/>
    <customErrors mode="Off"/>
    <!--Handlers for IIS 6 Settings and Local host (Remove on Release) -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>

    </httpHandlers>
    <!--Default Page Settings -->
    <pages enableEventValidation="false" validateRequest="false" clientIDMode="AutoID">
      <!-- Controls -->
      <controls>
        <!--Standard -->
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="rad" namespace="Rad.Controls" assembly="RadLibrary"/>
        <!--Charts -->
        <add tagPrefix="uc" tagName="ChartControl" src="~/App.UserControls/Charts/ChartControls.ascx"/>
        <!--CheckBoxList -->
        <add tagPrefix="uc" tagName="PopupCheckBoxList" src="~/App.UserControls/CheckBoxList/PopupCheckBoxList.ascx"/>
        <add tagPrefix="uc" tagName="PopupCheckBoxListForm" src="~/App.UserControls/CheckBoxList/PopupCheckBoxListForm.ascx"/>
        <!--Confirm -->
        <add tagPrefix="uc" tagName="ModalConfirm" src="~/App.UserControls/Confirm/ModalConfirm.ascx"/>
        <add tagPrefix="uc" tagName="DeleteConfirm" src="~/App.UserControls/Confirm/DeleteConfirm.ascx"/>
        <!--Date Picker -->
        <add tagPrefix="uc" tagName="DateRangePicker" src="~/App.UserControls/DatePicker/DateRangePicker.ascx"/>
        <add tagPrefix="uc" tagName="DatePicker" src="~/App.UserControls/DatePicker/DatePicker.ascx"/>
        <add tagPrefix="uc" tagName="DatePickerTextBox" src="~/App.UserControls/DatePicker/DatePickerTextBox.ascx"/>
        <add tagPrefix="uc" tagName="DatePickerTextBoxForm" src="~/App.UserControls/DatePicker/DatePickerTextBoxForm.ascx"/>

        <!--DropDownList -->
        <add tagPrefix="uc" tagName="MultiSelectDropDownList" src="~/App.UserControls/DropDownList/MultiSelectDropDownList.ascx"/>
        <!--Empty Data -->
        <add tagPrefix="uc" tagName="EmptyDataTemplate" src="~/App.UserControls/EmptyData/EmptyDataTemplate.ascx"/>
        <!--Loading -->
        <add tagPrefix="uc" tagName="LoadingScreen" src="~/App.UserControls/Loading/LoadingScreen.ascx"/>

        <add tagPrefix="uc" tagName="MappingVehiclesLeaseDetails" src="~/App.UserControls/Mappings/Details/VehiclesLeaseDetails.ascx"/>
        <!--Mappings - Gridview-->

        <add tagPrefix="uc" tagName="MappingVehiclesLeaseGridview" src="~/App.UserControls/Mappings/Gridviews/VehiclesLeaseGridview.ascx"/>

        <!--Pages -->
        <add tagPrefix="uc" tagName="PageInformation" src="~/App.UserControls/Pages/PageInformation.ascx"/>
        <!--Reports -->

        <add tagPrefix="uc" tagName="GeneralReportParameters" src="~/App.UserControls/Parameters/GeneralReportParameters.ascx"/>
        <!--Vehicles -->
        <add tagPrefix="uc" tagName="VehiclesCheckBoxList" src="~/App.UserControls/Vehicles/VehiclesCheckBoxList.ascx"/>
        <add tagPrefix="uc" tagName="VehiclesDatePicker" src="~/App.UserControls/Vehicles/VehiclesDatePicker.ascx"/>
        <add tagPrefix="uc" tagName="VehiclesSelection" src="~/App.UserControls/Vehicles/VehiclesSelection.ascx"/>
        <!--Forecast -->
        <add tagPrefix="uc" tagName="ForecastAdjustment" src="~/App.UserControls/MarsControls/ForecastAdjustment.ascx"/>
        <add tagPrefix="uc" tagName="ForecastReconciliation" src="~/App.UserControls/MarsControls/ForecastReconciliation.ascx"/>
        <!--Sizing -->
        <add tagPrefix="uc" tagName="ManualMovementTab" src="~/App.UserControls/MarsControls/ManualMovementTabView.ascx"/>
        <add tagPrefix="uc" tagName="ManualMovementUpload" src="~/App.UserControls/MarsControls/ManualMovementUpload.ascx"/>
        <add tagPrefix="uc" tagName="FrozenZone" src="~/App.UserControls/MarsControls/FrozenZoneManagement.ascx"/>
        <add tagPrefix="uc" tagName="NecessaryFleet" src="~/App.UserControls/MarsControls/NecessaryFleetManagement.ascx"/>
        <!--Parameters -->
        <add tagPrefix="uc" tagName="QuickSelectLG" src="~/App.UserControls/Parameters/QuickSelectLocationGroup.ascx"/>
        <add tagPrefix="uc" tagName="DynamicParameters" src="~/App.UserControls/Parameters/Dynamic/DynamicReportParameters.ascx"/>
        <add tagPrefix="uc" tagName="ReportType" src="~/App.UserControls/Parameters/ReportType/ReportTypeParameters.ascx"/>
        <add tagPrefix="uc" tagName="ExcelExport" src="~/App.UserControls/MarsControls/ExportToExcel.ascx"/>
        <!--Fleet Plan -->
        <add tagPrefix="uc" tagName="ActivityLog" src="~/App.UserControls/MarsControls/FleetPlan/FleetPlanUploadActivityLog.ascx"/>
        <!--Vehicles Abroad -->
        <add tagPrefix="uc" tagName="VehiclesAbroadReservations" src="~/App.UserControls/MarsControls/VehiclesAbroadReservations.ascx"/>


        <!--Navigation Panel -->
        <add tagPrefix="uc" tagName="NavigationPanel" src="~/App.UserControls/Panel/NavigationPanel.ascx"/>
        <!--List View -->

        <!--Auto Complete -->
        <add tagPrefix="uc" tagName="AutoComplete" src="~/App.UserControls/AutoComplete/AutoComplete.ascx"/>

      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <directoryBrowse enabled="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!--Application Settings RAD Library -->
  <applicationSettings>
    <Mars.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>Mars Portal</value>
      </setting>
      <setting name="TempDirectory" serializeAs="String">
        <value>~/Temp/</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value>CCA7F8C3-22AB-4BFA-9D13-812253AB02D5</value>
      </setting>
      <setting name="FtpNonRev" serializeAs="String">
        <value>\\hescft02\MarsFISdata\Temp\Non Rev\</value>
      </setting>
      <setting name="UatRelease" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ParameterFilesUploadFolder" serializeAs="String">
        <value>\\hescrad03\FileUploads\LogisticsDashboard</value>
      </setting>
      <setting name="CMSOpFleetSSIS" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PriceablePercentSSIS" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="AvgRpdSSIS" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="OneWayRentalsSSIS" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Seperator" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="ActiveDirectoryDomain" serializeAs="String">
        <value>adauth.eu.ad.hertz.com</value>
      </setting>
      <setting name="ADContainer" serializeAs="String">
        <value>DC=eu,DC=ad,DC=hertz,DC=com</value>
      </setting>
      <setting name="AdCorporateGroup" serializeAs="String">
        <value>DLG_App_MARS_Corporate</value>
      </setting>
      <setting name="AdLicenseeGroup" serializeAs="String">
        <value>DLG_App_MARS_Franchisee</value>
      </setting>
      <setting name="UseActiveDirectoryRoleCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FaoCountries" serializeAs="String">
        <value>22</value>
      </setting>
    </Mars.Properties.Settings>
    <Rad.Properties.Settings>
      <!--Application Id to be changed on to match id on release database -->
      <setting name="ApplicationId" serializeAs="String">
        <value>CCA7F8C3-22AB-4BFA-9D13-812253AB02D5</value>
      </setting>
      <setting name="RibbonApplication" serializeAs="String">
        <value>[Settings].[RibbonMenuSelect]</value>
      </setting>

    </Rad.Properties.Settings>
  </applicationSettings>
  <!--Application Settings For this Project -->
  <applicationSettings>
    <App.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>Mars Portal</value>
      </setting>
      <setting name="TempDirectory" serializeAs="String">
        <value>~/Temp/</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value>CCA7F8C3-22AB-4BFA-9D13-812253AB02D5</value>
      </setting>
    </App.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="App.Webservices.Reservations.ReservationUpdateServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="App.Webservices.Reservations.ReservationUpdateService">
        <endpoint address="" behaviorConfiguration="App.Webservices.Reservations.ReservationUpdateServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Mars.App.Webservices.Reservations.ReservationUpdateService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
